<%- include('../partials/static-header') %>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-md-12 text-center">Add a Blog Post</h1>
        <hr>

        <div class="col-12" style="margin: 25px auto;">
<!--            <form action="/blogs" method="POST" enctype="multipart/form-data">-->
<!--                <div class="form-group">-->
<!--                    <label for="title">Title</label>-->
<!--                    <input type="text" placeholder="Title" id="title" class="form-control" name="blog[title]" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="body">Body</label>-->
<!--                    <textarea name="blog[body]" id="body" class="form-control" cols="30" rows="15" placeholder="Body"></textarea>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>-->
<!--                </div>-->
<!--            </form>-->

            <form action="/blogs" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="text" class="lead">Blog Title: </label>
                    <input id="text" type="text" placeholder="Blog Title" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label for="" class="lead">Leading Image:</label>
                    <input type="file" class="form-control-file" name="image" accept="image/*">
                </div>
                <label for="editor-container" class="lead">Blog Body: </label>
                <div id="editor-container"></div>
                <input name="editor" type="hidden">
                <button class="btn btn-primary btn block mt-3" type="submit">Submit blog</button>
            </form>
            
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
            <script>
                var quill = new Quill('#editor-container', {
                    placeholder: 'Your blog content...',
                    theme: 'snow'
                } );

                var form = document.querySelector('form');
                form.onsubmit = function() {
                    // Populate hidden form on submit
                    var about = document.querySelector('input[name=editor]');
                    about.value = JSON.stringify(quill.root.innerHTML);
                    console.log(quill.root.innerHTML)

                    };
            </script>

<%- include('../partials/footer') %>
