<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <!--  meta tags for description source: https://css-tricks.com/essential-meta-tags-social-media/-->
  <meta about="We live in a juxtaposed world. Opportunities are ample, yet still hard to come by. Competitions are plentiful, yet still hard to discover. Information is available, yet almost impossible to find. Comprich seeks to make this world just a little less confusing. As opposed to spending countless hours searching for competitions, we have them all in one convenient place. Register and discover your potential.">
  <!--  Essential META Tags -->

  <meta property="og:title" content="Comprich">
  <meta property="og:description" content="We live in a juxtaposed world. Opportunities are ample, yet still hard to come by. Competitions are plentiful, yet still hard to discover. Information is available, yet almost impossible to find. Comprich seeks to make this world just a little less confusing. As opposed to spending countless hours searching for competitions, we have them all in one convenient place. Register and discover your potential.">
  <meta property="og:image" content="https://www.comprich.org/img/background-photo.jpg"> <!-- TODO: change as per guidelines set by social media companies (check css-tricks site) -->
  <meta property="og:url" content="https://www.comprich.org">
  <meta name="twitter:card" content="summary_large_image">


  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="Comprich">
  <meta name="twitter:image:alt" content="People using laptops in filtered sunlight">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img//favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Comprich
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/favicon_io/site.webmanifest">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/paper-kit.css?v=2.2.0" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="../../assets/css/notifications.css" />
</head>

<% if(error && error.length > 0){ %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
<% } %>
<% if(success && success.length > 0){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
<% } %>


<body class="landing-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300" style="margin-bottom: 50px !important;">
    <div class="container-fluid" >
      <div class="navbar-translate">
        <a class="navbar-brand" href="/home" rel="tooltip" title="Comprich" data-placement="bottom">
          <img src="/img/Final.png" alt="" height="70vh" width="230vw">
          <!-- CompRich -->
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/competitions" class="nav-link"><i class="nc-icon nc-layout-11"></i> Events</a>
          </li>
          <li class="nav-item">
            <a href="/blogs" class="nav-link"> Blog</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link"><i class="nc-icon nc-book-bookmark"></i> Contact Us</a>
          </li>
            <% if(currentUser && currentUser.isAdmin){ %>
              <li class="nav-item">
                <a href="/new" class="nav-link"> New Event</a>
              </li>
            <% } %>
            <% if(currentUser){ %>
              <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a href="/register" class="nav-link">Sign Up</a>
              </li>
            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(currentUser){ %>
          <li class="nav-item">
            <a href="/notifications" class="nav-link" id="noti-bell"><i class="fas fa-bell"></i></a>
          </li>
          <% } %>
              <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/comprichapp/" target="_blank">
                  <i class="fa fa-instagram"></i>
                  <p class="d-lg-none">Instagram</p>
                </a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
