<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/Users/yash/Desktop/comprich/assets/stylesheets/quiz.css" />
  </head>
  <body>
    <div id="container">
      <div id="start">Start Quiz!</div>
      <div id="quiz" style="display: none">
        <div id="question"></div>
        <div id="choices">
          <div class="choice" id="A" onclick="checkAnswer('A'), arr.push(0)"></div>
          <div class="choice" id="B" onclick="checkAnswer('B'), arr.push(1)"></div>
        </div>
        <div id="progress"></div>
      </div>
      <div id="scoreContainer" style="display: none"></div>
    </div>
    <script src="/Users/yash/Desktop/comprich/assets/js/quiz.js"></script>
    <script src="/Users/yash/Desktop/comprich/node_modules/brain.js"></script>
    <script src="/Users/yash/Desktop/comprich/assets/js/mainML.js"></script>

  </body>
</html>
