<%- include('partials/header') %>
  <!-- End Navbar -->
  <div class="page-header" data-parallax="true" style="background-image: url('/img/background-photo.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>Get to the Next Level</h1>
        <h3>Your competitive journey starts here</h3>
        <br />
        <a href="/competitions" class="btn btn-outline-neutral btn-round">Get Started</a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">How we help you succeed</h2>
            <h5 class="description">We live in a juxtaposed world. Opportunities are ample, yet still hard to
                 come by. Competitions are plentiful, yet still hard to discover. Information is available, 
                 yet almost impossible to find. Comprich seeks to make this world just a little less confusing. 
                 As opposed to spending countless hours searching for competitions, we have them all in one convenient place.
                  Register and discover your potential.</h5>
            <br>
            <a href="/competitions" class="btn btn-danger btn-round">Get Started</a>
          </div>
        </div>
        <br/>
        <br/>

        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-album-2"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Get Started</h4>
                <p class="description">Sign up and unlock a vast index of competitions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-bulb-63"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Discover</h4>
                <p>Filter and search for competitions that suit you best. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title" style="font-size: 1.5em">Come, see and Conquer!</h4>
                <p>Attend the competition of your choice and dominate.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Repeat</h4>
                <p style="font-size: 1em">Restart the process and evolve to become the best version of yourself.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark text-center">
      <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="/img/team-imgs/sid-pic.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Siddhant Tandon</h4>
                    <h6 class="card-category">Chief Executive Officer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Siddhant Tandon is an avid debater, economics nerd and hardened competition veteran.     
                  Having won many competitions, such as the DEWA Conservation Award, MUN conferences, and even the World Scholar’s Cup, he realizes the significance of participating in competitions, and the enrichment gained from doing so. 
                  He believes that competitions are essential for the personal and professional development of any person, and that they provide exposure one would never have in school. 
                  
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.instagram.com/sid_tandon_official/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="">
                  <img src="/img/team-imgs/saatvik-pic.jpg" style="" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Saatvik Sharma</h4>
                    <h6 class="card-category">Chief Technology Officer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Saatvik Sharma is a passionate drummer and a website developer. Having participated in many debate competitions, he understands people’s difficulties with mustering enough courage to participate in competitions, and wanted to provide a platform to help these people. According to him, The experiences gained in competitions shape people’s personalities, which determine what type of person they will be in the future.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="container">
      <h1 class="text-center mb-3 border-bottom mb-3 pb-2">Meet the Team</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row mx-auto mt-5">
          <div class="carousel-inner row mx-auto">
          <div class="carousel-item col-md-4 active" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/richard-pic.png" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Richard Liu</h4>
                <p style="color: black;">Head of Outreach - Australia and New Zealand</p>
                <p class="card-text">Richard Liu is a finance hobbyist, keen musician and relentless learner. Participating in a vast variety of competitions like case competitions to computational linguistics olympiads has made Richard comprehend how competitions catalyze learning and compel student engagement. </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/ruhaan-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Ruhaan Malhotra</h4>
                <p style="color: black;">Content Engineer</p>
                <p class="card-text">Ruhaan is a passionate public speaker, artist and activist, who avidly zealously participates in MUN conferences and debates! He hopes to persuade a multitude of individuals to participate in a variety of competitions, posted on comprich. He strongly believes that Comprich is a catalyst for student growth and development.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/muhammed-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Muhammad Ibrahim</h4>
                <p style="color: black;">Content Engineer</p>
                <p class="card-text">Muhammad Ibrahim is passionate about Graphic Design and Media. He is responsible for the creation and designing of Comprich’s unique and creative social media posts. He hopes to not only provide high quality content for Comprich, but also to improve his own skills, personal and professional.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/spandan-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Spandan Uprit</h4>
                <p style="color: black;">Interim Ambassador - Dubai International School</p>
                <p class="card-text">Spandan Uprit is a skilled swimmer and debater, having won many accolades in both fields. In his free time, he enjoys playing the guitar. He believes that Comprich will improve participation rates by an elephantine amount. </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/neeraj-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Neeraj Shah</h4>
                <p style="color: black;">Interim Ambassador - Dubai International School</p>
                <p class="card-text">Neeraj Shah is an Interim ambassador, who is responsible for promoting Comprich in his school. He, like many others, understands the value of competitions, and the role it plays in our character development, as well as how it helps us gain new perspectives and knowledge. He is delighted to be a member of the Comprich team.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/sidchak-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title">Siddharth Chakravarty</h4>
                <p style="color: black">Ambassador - GEMS Modern Academy</p>
                <p class="card-text"> As a naturally inquisitive student, Siddhaarth has always been a passionate learner. He has varied interests in the fields of politics, science, economics, current affairs, mathematics, music and sports. His compelling and constant need to expand his understanding of the world has helped him sharpen his academic, analytical and critical thinking skills.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/reyansh-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title">Reyansh Airan</h4>
                <p style="color: black">Interim Ambassador - Dubai International School</p>
                <p class="card-text">Reyansh cherishes both the social and educational aspects of participating in competitions. He hopes to share this appreciation of competitions and participation with his colleagues and peers. He is an interim ambassador for Comprich as well, and is absolutely elated to be able to represent us.</p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="section landing-section" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center">Keep in touch?</h2>
            <form class="contact-form" action="/messages" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="message[name]" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i>
                      </span>
                    </div>
                    <input type="email" class="form-control" name="message[email]" placeholder="Email" required>
                  </div>
                </div>
              </div>
              <label>Message</label>
              <textarea class="form-control" rows="4" name="message[body]" placeholder="Tell us your thoughts and feelings..." required></textarea>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                  <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
  $("#myCarousel").on("slide.bs.carousel", function(e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 3;
    var totalItems = $(".carousel-item").length;

    if (idx >= totalItems - (itemsPerSlide - 1)) {
      var it = itemsPerSlide - (totalItems - idx);
      for (var i = 0; i < it; i++) {
        // append slides to end
        if (e.direction == "left") {
          $(".carousel-item")
            .eq(i)
            .appendTo(".carousel-inner");
        } else {
          $(".carousel-item")
            .eq(0)
            .appendTo($(this).find(".carousel-inner"));
        }
      }
    }
  });
});

  </script>

  <%- include('partials/footer') %>