<%- include('partials/header') %>
  <!-- End Navbar -->
  <div class="page-header" data-parallax="true" style="background-image: url('/img/background-photo.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>Get to the Next Level</h1>
        <h3>Your competitive journey starts here</h3>
        <br />
        <a href="/competitions" class="btn btn-outline-neutral btn-round">Get Started</a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">How we help you succeed</h2>
            <h5 class="description">We live in a juxtaposed world. Opportunities are ample, yet still hard to
                 come by. Competitions are plentiful, yet still hard to discover. Information is available, 
                 yet almost impossible to find. Comprich seeks to make this world just a little less confusing. 
                 As opposed to spending countless hours searching for competitions, we have them all in one convenient place.
                  Register and discover your potential.</h5>
            <br>
            <a href="/competitions" class="btn btn-danger btn-round">Get Started</a>
          </div>
        </div>
        <br/>
        <br/>

        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-album-2"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Get Started</h4>
                <p class="description">Sign up and unlock a vast index of competitions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-bulb-63"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Discover</h4>
                <p>Filter and search for competitions that suit you best. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title" style="font-size: 1.5em">Come, see and Conquer!</h4>
                <p>Attend the competition of your choice and dominate.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Repeat</h4>
                <p style="font-size: 1em">Restart the process and evolve to become the best version of yourself.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark text-center">
      <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="/img/team-imgs/sid-pic.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Siddhant Tandon</h4>
                    <h6 class="card-category">Chief Executive Officer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                    Siddhant Tandon is an avid debater, economics nerd and hardened competition veteran. 
                    Participating and winning in the World Scholars Cup, The DEWA Conservation Award and MUNs, Sid knows the 
                    value of participation and the enrichment and exposure gained from doing so. In his own words, 
                    “Competitions like these have given me the exposure that countless years of education never gave me, It helped me discover 
                    my passions, interests and talents while igniting a fire of ambition that has proven to be of immense value.”
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.instagram.com/sid_tandon_official/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="">
                  <img src="/img/team-imgs/saatvik-pic.jpg" style="" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Saatvik Sharma</h4>
                    <h6 class="card-category">Chief Technology Officer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                    Saatvik Sharma is a passionate drummer, website developer and has participated in a variety of competitions
                     from World Scholars Cup to many regional debate competitions. He understands how hard it is for people to come 
                     out of their shell and wants to help them by giving them a platform to evolve. He believes that the experiences people get 
                     from these competitions helps shape their personality and gives them that experience which ultimately defines who they are moving forward 
                     in life. 
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="container">
      <h1 class="text-center mb-3 border-bottom mb-3 pb-2">Meet the Team</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row mx-auto mt-5">
          <div class="carousel-inner row mx-auto">
          <div class="carousel-item col-md-4 active" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/richard-pic.png" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Richard Liu</h4>
                <p style="color: black;">Head of Outreach - Australia and New Zealand</p>
                <p class="card-text">Richard Liu is a finance hobbyist, keen musician and relentless learner. Having participated in a wide range of competitions from case comps to computational linguistics olympiads and as a University of Melbourne Kwong Lee Dao Young Scholar, Richard knows the power of competitions to compel student engagement and catalyze lateral learning. He can testify to the Pareto principle that these experiences yield the highest returns far into the future by immersing people into new worlds.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/ruhaan-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Ruhaan Malhotra</h4>
                <p style="color: black;">Content Engineer</p>
                <p class="card-text">Ruhaan is a passionate public speaker, artist and activist; who avidly participates in competitions such as MUN’s and debates. He understands the essential role that competitions play in the field of academic and extra-curricular growth and is well versed in the world of competitions and events. He acknowledges the skills one gains from participating in any competition and expresses the importance of them for life-skills; and not just skills that look persuasive on a college application. He hopes to persuade individuals to participate in more competitions within fields of their interest and believes that Comprichs’ idea could potentially be the catalyst for student growth.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/muhammed-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Muhammad Ibrahim</h4>
                <p style="color: black;">Content Engineer</p>
                <p class="card-text">This is Muhammad Ibrahim he is a 15 year old from Pakistan and he has a passion for design and media he will be responsible for creating and designing posts for comprich social media. Ibrahim is keen on making good photos and videos and wants  to make creative and unique ones.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/spandan-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Spandan Uprit</h4>
                <p style="color: black;">Interim Ambassador - Dubai International School</p>
                <p class="card-text">Hey my name is Spandan and I am 15 years old. I am an Anime Lover as well as a guitarist. I have participated in WSCs and won awards for my swimming. I think that greatest challenge a person faces is that they are simply to shy or timid to find their strengths and become more participative and I have joined this team to help solve exactly that. “Your greatest enemy is yourself”</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/neeraj-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title mb-2">Neeraj Shah</h4>
                <p style="color: black;">Interim Ambassador - Dubai International School</p>
                <p class="card-text">This is Neeraj Shah from Dubai, United Arab Emirates. Neeraj is an Interim Ambassador for Comprich as he will be responsible for spreading the word about this website. Neeraj encourages the participation in various competitions as to him that is what has allowed him to grow as an individual and develop various skills that will be useful in the long run. Neeraj is absolutely ecstatic to be part of the Comprich team.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/sidchak-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title">Siddharth Chakravarty</h4>
                <p style="color: black">Ambassador - GEMS Modern Academy</p>
                <p class="card-text">As a naturally inquisitive student, Siddhaarth has always been a passionate learner. He has varied interests in the fields of politics, science, economics, current affairs, mathematics, music and sports.  
                  His compelling and constant need to expand his understanding of the world has helped him sharpen his academic and analytical skills. He has always believed that one needs to keep participating in events to compete against oneself… participation itself is a win - a win over ‘our yesterday’ and a win for ‘our better tomorrow’.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4" style="margin-right: 0;">
            <div class="card">
              <img class="card-img-top img-fluid" src="/img/team-imgs/reyansh-pic.jpeg" alt="Card image cap" style="height: 45vh">
              <div class="card-body">
                <h4 class="card-title">Reyansh Airan</h4>
                <p style="color: black">Interim Ambassador - Dubai International School</p>
                <p class="card-text">Reyansh is an Interim Ambassador at Comprich from Dubai, United Arab Emirates. As a student who cherishes the social and educational aspects of competitions, Reyansh hopes to bring this appreciation to other students. With his role, Reyansh will be responsible for the promotion of Comprich to students and is extremely excited to see the club grow.</p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="section landing-section" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center">Keep in touch?</h2>
            <form class="contact-form" action="/messages" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="message[name]" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i>
                      </span>
                    </div>
                    <input type="email" class="form-control" name="message[email]" placeholder="Email" required>
                  </div>
                </div>
              </div>
              <label>Message</label>
              <textarea class="form-control" rows="4" name="message[body]" placeholder="Tell us your thoughts and feelings..." required></textarea>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                  <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
  $("#myCarousel").on("slide.bs.carousel", function(e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 3;
    var totalItems = $(".carousel-item").length;

    if (idx >= totalItems - (itemsPerSlide - 1)) {
      var it = itemsPerSlide - (totalItems - idx);
      for (var i = 0; i < it; i++) {
        // append slides to end
        if (e.direction == "left") {
          $(".carousel-item")
            .eq(i)
            .appendTo(".carousel-inner");
        } else {
          $(".carousel-item")
            .eq(0)
            .appendTo($(this).find(".carousel-inner"));
        }
      }
    }
  });
});

  </script>

  <%- include('partials/footer') %>