<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="C:\Users\gargy\comprich\assets\stylesheets\quiz.css" />
  </head>
  <body>
    <div id="container">
      <div id="start">Start Quiz!</div>
      <div id="quiz" style="display: none">
        <div id="question"></div>
        <div id="choices">
          <div class="choice" id="A" onclick="checkAnswer('')"></div>
          <div class="choice" id="B" onclick="checkAnswer('')"></div>
        </div>
        <div id="progress"></div>
      </div>
      <div id="scoreContainer" style="display: none"></div>
    </div>
    <script src="C:\Users\gargy\comprich\assets\js\mainML.js"></script>
    <script src="C:\Users\gargy\comprich\assets\js\quiz.js"></script>
  </body>
</html>
