<%- include('partials/auth-header') %>

<div class="">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 ml-auto mr-auto">
        <div class="card card-register">
          <h3 class="title mx-auto" style="color: white">Welcome</h3>
          <form class="register-form" action="/login" method="POST">
            <label>Email or Username</label>
            <input type="text" class="form-control" name="username" placeholder="Email / Username">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
            <button class="btn btn-danger btn-block btn-round">Login</button>
          </form>
          <div class="forgot">
            <a href="/forgot" class="btn btn-link btn-danger">Forgot password?</a>
          </div>
          <div class="forgot">
            <a href="/register" class="btn btn-link btn-danger">Create an account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>