<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <!--  meta tags for description source: https://css-tricks.com/essential-meta-tags-social-media/-->
  <meta about="We live in a juxtaposed world. Opportunities are ample, yet still hard to come by. Competitions are plentiful, yet still hard to discover. Information is available, yet almost impossible to find. Comprich seeks to make this world just a little less confusing. As opposed to spending countless hours searching for competitions, we have them all in one convenient place. Register and discover your potential.">
  <!--  Essential META Tags -->

  <meta property="og:title" content="Comprich">
  <meta property="og:description" content="We live in a juxtaposed world. Opportunities are ample, yet still hard to come by. Competitions are plentiful, yet still hard to discover. Information is available, yet almost impossible to find. Comprich seeks to make this world just a little less confusing. As opposed to spending countless hours searching for competitions, we have them all in one convenient place. Register and discover your potential.">
  <meta property="og:image" content="https://www.comprich.org/img/background-photo.jpg"> <!-- TODO: change as per guidelines set by social media companies (check css-tricks site) -->
  <meta property="og:url" content="https://www.comprich.org">
  <meta name="twitter:card" content="summary_large_image">


  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="Comprich">
  <meta name="twitter:image:alt" content="People using laptops in filtered sunlight">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img//favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Comprich
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/favicon_io/site.webmanifest">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/paper-kit.css?v=2.2.0" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="../../assets/css/notifications.css" />
</head>

<style>

body {
    background-color: rgb(230, 222, 200);
}

    #clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: rgb(230, 185, 37);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgb(143, 128, 89);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
</style>

<body>
    <div class="container text-center  align-items-center">
        <h1 class="display-2">Sorry, the site is under maintenance.</h1>
        <h3 class="mb-5">Please check in after 48 hours to start your competitive journey</h3>

        <div id="clockdiv" class="col-md-8" style="width: 100%">
            <div>
              <span class="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
    </div>
</body>

<script>
    function getTimeRemaining(endtime) {
        const total = Date.parse(endtime) - Date.parse(new Date());
        const seconds = Math.floor((total / 1000) % 60);
        const minutes = Math.floor((total / 1000 / 60) % 60);
        const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
        const days = Math.floor(total / (1000 * 60 * 60 * 24));
        
        return {
            total,
            days,
            hours,
            minutes,
            seconds
        };
    }

function initializeClock(id, endtime) {
  const clock = document.getElementById(id);
  const daysSpan = clock.querySelector('.days');
  const hoursSpan = clock.querySelector('.hours');
  const minutesSpan = clock.querySelector('.minutes');
  const secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    const t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  const timeinterval = setInterval(updateClock, 1000);
}

const deadline = new Date('August 21 2021 11:59:59 GMT+0400');
initializeClock('clockdiv', deadline);
</script>

</html>

