<%- include('./partials/static-header') %>

<head>
    <title>Your Online CV</title>
    <link rel="stylesheet" href="../assets/css/online-cv.css" >
</head>

<div style="display: flex;">

<div class="col-md-4" style="margin-left:4%; border-right: 1px solid #a5a5a5c9;">
    <div class="card">
        <img id="pfp" src="" alt="Profile Picture" class="card-img-top" style="min-height: 45vh; max-height: 120vh">
    </div>
    <h1>Your name</h1>
    <h3>Details:</h3>
    <ul style="list-style: none;">
        <li><p>School: GEMS Modern Academy</p></li>
        <li><p>Year/Grade: Year 12/Grade 11</p></li>
        <li><p>Email: abc@gmail.com</p></li>
    </ul>
</div>

<div class="col-md-6" style="margin-left: 3%; margin-top: -2%; overflow-y: scroll; overflow-x: scroll;">
    <h1>Competitions Completed</h1><hr>
    <div style="overflow-y: scroll;">
    <a href="#"><div class="card" href="#">
        <div class="card-body">
          <h4 class="card-title">TGCC</h4>
          <p class="card-text">Skills Gained: Presentation, Business mindset</p>
          <a href="#" class="btn btn-primary">Link to competition</a>
        </div>
      </div></a>
    <a href="#"><div class="card" href="#">
        <div class="card-body">
          <h4 class="card-title">Youth Financial Analysis Competition</h4>
          <p class="card-text">Skills Gained: Financial Literacy, Economic Analysis</p>
          <a href="#" class="btn btn-primary">Link to competition</a>
        </div>
      </div></a>
    
    <a href="#"><div class="card" href="#">
        <div class="card-body">
          <h4 class="card-title">NASA CineSpace</h4>
          <p class="card-text">Skills Gained: Filmmaking</p>
          <a href="#" class="btn btn-primary">Link to competition</a>
        </div>
      </div></a>
    </div>
</div>

</div>

<%- include('./partials/footer') %>