<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--  meta tags for description source: https://css-tricks.com/essential-meta-tags-social-media/-->
    <meta about="We live in a juxtaposed world. Opportunities are ample, yet still hard to come by. Competitions are plentiful, yet still hard to discover. Information is available, yet almost impossible to find. Comprich seeks to make this world just a little less confusing. As opposed to spending countless hours searching for competitions, we have them all in one convenient place. Register and discover your potential.">
    <!--  Essential META Tags -->
  
    <meta property="og:title" content="Comprich">
    <meta property="og:description" content="We live in a juxtaposed world. Opportunities are ample, yet still hard to come by. Competitions are plentiful, yet still hard to discover. Information is available, yet almost impossible to find. Comprich seeks to make this world just a little less confusing. As opposed to spending countless hours searching for competitions, we have them all in one convenient place. Register and discover your potential.">
    <meta property="og:image" content="https://www.comprich.org/img/background-photo.jpg"> <!-- TODO: change as per guidelines set by social media companies (check css-tricks site) -->
    <meta property="og:url" content="https://www.comprich.org">
    <meta name="twitter:card" content="summary_large_image">
  
  
    <!--  Non-Essential, But Recommended -->
  
    <meta property="og:site_name" content="Comprich">
    <meta name="twitter:image:alt" content="People using laptops in filtered sunlight">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img//favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Comprich
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/paper-kit.css?v=2.2.0" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <% if(flag){ %>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <% } else { %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <% } %>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/stylesheets/quiz.css" />
  </head>
  <body>
    <div id="container">
      <div id="start">Start Quiz!</div>
      <div id="quiz" style="display: none">
        <div id="question"></div>
        <div id="choices">
          <div class="choice" id="A" onclick="checkAnswer('')"></div>
          <div class="choice" id="B" onclick="checkAnswer('')"></div>
        </div>
        <div id="progress"></div>
      </div>
      <div id="scoreContainer" style="display: none"></div>
    </div>
    <script src="/js/mainML.js"></script>
    <script src="/js/quiz.js"></script>
  </body>
</html>
