/* screen - account-settings */

.account-settings {
  align-items: flex-start;
  background-color: var(--romance);
  display: flex;
  height: 996px;
  overflow: hidden;
  width: 1538px;
}

.account-settings .overlap-group5 {
  height: 2051px;
  margin-left: -726px;
  margin-top: -500.61px;
  position: relative;
  width: 1834px;
}

.account-settings .blob {
  height: 2051px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1633px;
}

.account-settings .hello-john {
  left: 1071px;
  letter-spacing: 0;
  position: absolute;
  top: 579px;
  width: 609px;
}

.account-settings .preferences {
  height: 77px;
  left: 1071px;
  letter-spacing: 0;
  position: absolute;
  top: 694px;
  width: 653px;
}

.account-settings .emails {
  height: 77px;
  left: 1071px;
  letter-spacing: 0;
  position: absolute;
  top: 994px;
  width: 653px;
}

.account-settings .overlap-group-1 {
  align-items: center;
  background-color: var(--sunglow);
  border-radius: 50px;
  display: flex;
  height: 79px;
  justify-content: flex-end;
  left: 1071px;
  min-width: 156px;
  padding: 0 38px;
  position: absolute;
  top: 1375px;
}

.account-settings .save {
  letter-spacing: 0;
  min-height: 27px;
  width: 79px;
}

.account-settings .group-38 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  left: 772px;
  min-height: 937px;
  padding: 38px 33px;
  position: absolute;
  top: 530px;
  width: 217px;
}

.account-settings .logo-4 {
  height: 51px;
  margin-top: 2px;
  width: 61px;
}

.account-settings .dashboard {
  align-items: center;
  display: flex;
  margin-top: 248px;
  min-width: 149px;
}

.account-settings .frame {
  height: 35px;
  width: 35px;
}

.account-settings .compete {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 10px;
  margin-top: 3.0px;
  min-height: 24px;
  white-space: nowrap;
  width: 102px;
}

.account-settings .cv {
  align-items: center;
  display: flex;
  margin-top: 40px;
  min-width: 82px;
}

.account-settings .cv-1 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 10px;
  margin-top: 1.0px;
  min-height: 30px;
  min-width: 35px;
  white-space: nowrap;
}

.account-settings .account {
  align-items: flex-end;
  display: flex;
  margin-top: 40px;
  min-width: 136px;
}

.account-settings .account-1 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 10px;
  min-height: 30px;
  min-width: 89px;
  white-space: nowrap;
}

.account-settings .settings {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-top: 40px;
  min-width: 134px;
}

.account-settings .settings-1 {
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 1.0px;
  margin-left: 7px;
  min-height: 24px;
  white-space: nowrap;
  width: 90px;
}

.account-settings .log-out {
  align-items: center;
  display: flex;
  margin-top: 265px;
  min-width: 141px;
}

.account-settings .log-out-1 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 10px;
  margin-top: 1.0px;
  min-height: 24px;
  white-space: nowrap;
  width: 94px;
}

.account-settings .interests {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1071px;
  min-height: 118px;
  position: absolute;
  top: 793px;
  width: 763px;
}

.account-settings .interests-1 {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 37px;
  width: 367px;
}

.account-settings .overlap-group3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 3px 3px 15px #00000026;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-top: 6px;
  min-width: 761px;
  padding: 15px 32.0px;
}

.account-settings .overlap-group-2 {
  align-items: flex-start;
  background-color: #0000001a;
  border-radius: 10px;
  display: flex;
  height: 44px;
  min-width: 250px;
  padding: 10px 13px;
}

.account-settings .business-economics {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 23px;
  text-align: center;
  white-space: nowrap;
  width: 224px;
}

.account-settings .overlap-group1 {
  align-items: flex-start;
  background-color: #0000001a;
  border-radius: 10px;
  display: flex;
  height: 44px;
  margin-left: 15px;
  min-width: 208px;
  padding: 10px 12px;
}

.account-settings .public-speaking {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 23px;
  text-align: center;
  white-space: nowrap;
  width: 184px;
}

.account-settings .vector {
  align-self: center;
  height: 25px;
  margin-left: 202px;
  margin-top: 4.0px;
  width: 15px;
}

.account-settings .subscribe-me-to-comp {
  left: 1132px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 1084px;
  width: 700px;
}

.account-settings .overlap-group4 {
  align-items: center;
  background-image: url(../img/outline@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 31px;
  left: 1078px;
  min-width: 31px;
  padding: 0 2px;
  position: absolute;
  top: 1082px;
}

.account-settings .frame-1 {
  height: 27px;
  width: 27px;
}

.account-settings .group-44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  margin-top: 54px;
  min-height: 899px;
  width: 288px;
}

.account-settings .overlap-group1-1 {
  height: 491px;
  position: relative;
  width: 288px;
}

.account-settings .rectangle-16 {
  background-color: var(--white);
  border-radius: 40px;
  box-shadow: 5px 5px 15px #00000026;
  height: 271px;
  left: 0;
  position: absolute;
  top: 220px;
  width: 288px;
}

.account-settings .overlap-group-3 {
  align-items: center;
  background-color: var(--black);
  border-radius: 50px;
  display: flex;
  height: 79px;
  left: 33px;
  min-width: 222px;
  padding: 0 37px;
  position: absolute;
  top: 376px;
}

.account-settings .get-link {
  letter-spacing: 0;
  min-height: 27px;
  width: 148px;
}

.account-settings .invite-friends {
  left: 33px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 311px;
  width: 226px;
}

.account-settings .saly-3 {
  height: 280px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 280px;
}

.account-settings .group-36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  min-height: 370px;
  width: 288px;
}

.account-settings .overlap-group2 {
  background-color: var(--white);
  border-radius: 40px;
  box-shadow: 5px 5px 15px #00000026;
  height: 166px;
  position: relative;
  width: 288px;
}

.account-settings .interest-quiz {
  left: 37px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 215px;
}

.account-settings .overlap-group {
  align-items: flex-end;
  background-color: var(--sunglow);
  border-radius: 50px;
  display: flex;
  height: 66px;
  left: 49px;
  min-width: 191px;
  padding: 21.4px 21px;
  position: absolute;
  top: 83px;
}

.account-settings .place {
  letter-spacing: 0;
  min-height: 23px;
  text-align: center;
  width: 148px;
}

.account-settings .overlap-group1-2 {
  background-color: var(--white);
  border-radius: 40px;
  box-shadow: 5px 5px 15px #00000026;
  height: 166px;
  margin-top: 38px;
  position: relative;
  width: 288px;
}

.account-settings .online-cv {
  left: 37px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 215px;
}

.account-settings .update {
  letter-spacing: 0;
  min-height: 23px;
  text-align: center;
  width: 148px;
}
