<div class="overlap-group8">
    <div class="flex-row-1">
      <img class="logo-1" src="updated/img/logo-1@2x.png" />
      <a href="/register">
          <div class="overlap-group-6">
              <div class="get-started josefinsans-bold-black-30px">GET STARTED</div>
          </div>
      </a>
    </div>
    <img class="vector-10" src="updated/img/vector-10@1x.svg" />
    <div class="group-container">
      <div class="group-17">
        <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
        <div class="sm-links">
          <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="updated/img/Instagram.svg" style="display: inline"/></a>
          <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="updated/img/LinkedIn.svg" style="display: inline;"/></a>
        </div>
      </div>
      <div class="group-18">
        <div class="site josefinsans-semi-bold-white-40px">Site</div>
        <div class="home-about-contact josefinsans-normal-white-30px">
            <a href="/home">Home</a><br />
            <a href="/about">About</a><br />
            <a href="/about">Contact</a>
        </div>
      </div>
      <div class="group-20">
        <div class="services josefinsans-semi-bold-white-40px">Services</div>
        <div class="hub-blog josefinsans-normal-white-30px">
            <a href="/competitions">Hub</a><br />
            <a href="/blog">Blog</a>
        </div>
      </div>
      <div class="group-19">
        <div class="company josefinsans-semi-bold-white-40px">Company</div>
        <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
          <a href="/about#team">Our Team</a><br />
          <a href="/contact">Join Us</a><br />
          <a href="/partners">Partnerships</a>
        </div>
      </div>
    </div>
    <div class="x2021-comprich-ma josefinsans-normal-white-28px">
      © 2021 Comprich | Made with 💛 by students
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
