<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="updated/css/home.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
    <title>Comprich</title>
  </head>

<%- include('../partials/flash') %>

  <body style="margin: 0; background: #fffefd">
    <div class="container-center-horizontal">
      <div class="home screen">
        <div class="overlap-group9">
          <div class="header">
            <a href="/home"><img class="logo-5" src="updated/img/logo-5@2x.png" /></a>
            <div class="group-8 josefinsans-bold-black-25px">
              <div class="about-us"><a href="/hub">HUB</a></div>
              <% if(currentUser && currentUser.isAdmin == true){ %>
                <a href="/new"><div class="hub">NEW</div></a>
              <% } else { %>
                <a href="/about"><div class="hub">ABOUT US</div></a>
              <% } %>
              <% if(currentUser){ %>
                <div class="our-blog"><a href="/logout">LOGOUT</a></div>
                <div class="overlap-group-2"><a href="/my-profile"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></a> </div>
              <% } else { %>
                <div class="our-blog"><a href="/login">LOGIN</a></div>
                <div class="overlap-group-2"><a href="/register"><div class="sign-up josefinsans-bold-black-25px">SIGN UP</div></a> </div>
              <% } %>

            
            </div>
          </div>