<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="updated/css/home.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
    <title>Comprich</title>
  </head>
  <body style="margin: 0; background: #fffefd">
    <div class="container-center-horizontal">
      <div class="home screen">
        <div class="overlap-group9">
          <div class="header">
            <a href="/home"><img class="logo-5" src="updated/img/logo-5@2x.png" /></a>
            <div class="group-8 josefinsans-bold-black-25px">
              <div class="about-us"><a href="/about">ABOUT US</a></div>
              <div class="hub"><a href="/competitions">HUB</a></div>
              <div class="our-blog"><a href="/blog">OUR BLOG</a></div>
              <% if(currentUser){ %>
                <div class="overlap-group-2"><a href="/login"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></a> </div>
              <% } else { %>
                <div class="overlap-group-2"><a href="/login"><div class="sign-up josefinsans-bold-black-25px">LOGIN</div></a> </div>
              <% } %>
            </div>
          </div>