<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/updated/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/globals.css" />
    <title>Comprich</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E7EG7SGSS2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E7EG7SGSS2');
    </script>
  </head>

<%- include('../partials/flash') %>

  <body style="margin: 0; background: #fffefd">
    <div class="container-center-horizontal">
      <div class="home screen">
        <div class="overlap-group9">
          <div class="header">
            <a href="/home"><img class="logo-5" src="/updated/img/logo-5@2x.png" /></a>
            <div class="group-8 josefinsans-bold-black-25px">
              <div class="about-us"><a href="/hub">HUB</a></div>
              <% if(currentUser && currentUser.isAdmin == true){ %>
                <a href="/new"><div class="hub">NEW</div></a>
              <% } else { %>
                <a href="/about"><div class="hub">ABOUT US</div></a>
              <% } %>
              <% if(currentUser){ %>
                <div class="our-blog"><a href="/logout">LOGOUT</a></div>
                <div class="overlap-group-2"><a href="/my-profile"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></a> </div>
              <% } else { %>
                <div class="our-blog"><a href="/login">LOGIN</a></div>
                <div class="overlap-group-2"><a href="/register"><div class="sign-up josefinsans-bold-black-25px">SIGN UP</div></a> </div>
              <% } %>

            
            </div>
          </div>

<input type="hidden" id="anPageName" name="page" value="home" />

          <!-- <div class="overlap-group12">
            <div class="overlap-group6"> -->
              <!-- <img class="card-2" src="updated/img/card-2@2x.svg" />
              <img class="card-1" src="updated/img/card-1@2x.svg" /> -->
              <!-- <img class="group-10" src="updated/img/group-10@2x.svg" /> -->
            <!-- </div> -->
            
          <!-- </div> -->
          
          <div class="latest-competitions">
            <div class="overlap-group4">
              <div class="latest-competitions-1 josefinsans-semi-bold-black-80px">Comprich Courses</div>
              <div class="were-dedicated-to-o">
                You know where to find competitions, here's how to win them
              </div>
            </div>
            <div class="gallery">
              <!-- <img class="frame" src="updated/img/frame@2x.svg" /> -->
              <div style="width: 80px"></div>
                <div class="overlap-group1">
                  <img class="image-41" src="/updated/img/debate.png" />
                  <div class="tiger-global-case-competition josefinsans-normal-black-24px">
                    Debate
                  </div>
                  <a href="/courses/debate">
                    <div class="overlap-group">
                      <div class="learn-more josefinsans-semi-bold-white-18px">LEARN MORE</div>
                    </div>
                  </a>
                </div>

              
              <div style="width: 80px; margin-left: 35px"></div>
              <!-- <img class="frame-1" src="updated/img/frame-1@2x.svg" /> -->
            </div>
          </div>
          <div class="what-inspires-us">
            <div class="group-27">
              <div class="what-inspires-us-to">What inspires us to help students around the globe?</div>
              <a href="/about"><div class="learn-our-mission-and-meet-the-team">Learn our mission and meet the team</div></a>
            </div>
            <img class="saly-31" src="/updated/img/saly-31@1x.png" />
          </div>
          <div class="overlap-group-container">
            <div class="overlap-group7">
              <div class="ready-to-work-with-comprich josefinsans-semi-bold-black-45px">
                Ready to work with Comprich?
              </div>
              <a href="/hub">
                <div class="overlap-group-5">
                    <div class="explore-competition-hub josefinsans-bold-black-30px">EXPLORE HUB</div>
                </div>
              </a>
            </div>

            
            <div class="overlap-group8">
              <div class="flex-row-1">
                <img class="logo-1" src="/updated/img/logo-1@2x.png" />
                <a href="/register">
                    <div class="overlap-group-6">
                        <div class="get-started josefinsans-bold-black-30px">GET STARTED</div>
                    </div>
                </a>
              </div>
              <img class="vector-10" src="/updated/img/vector-10@1x.svg" />
              <div class="group-container">
                <div class="group-17">
                  <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                  <div class="sm-links">
                    <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="/updated/img/Instagram.svg" style="display: inline"/></a>
                    <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="/updated/img/LinkedIn.svg" style="display: inline;"/></a>
                  </div>
                </div>
                <div class="group-18">
                  <div class="site josefinsans-semi-bold-white-40px">Site</div>
                  <div class="home-about-contact josefinsans-normal-white-30px">
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/about">Contact</a>
                  </div>
                </div>
                <div class="group-20">
                  <div class="services josefinsans-semi-bold-white-40px">Services</div>
                  <div class="hub-blog josefinsans-normal-white-30px">
                      <a href="/competitions">Hub</a><br />
                      <a href="/blog">Blog</a>
                  </div>
                </div>
                <div class="group-19">
                  <div class="company josefinsans-semi-bold-white-40px">Company</div>
                  <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                    <a href="/about#team">Our Team</a><br />
                    <a href="/contact">Join Us</a><br />
                    <a href="/partners">Partnerships</a>
                  </div>
                </div>
              </div>
              <div class="x2021-comprich-ma josefinsans-normal-white-28px">
                © 2021 Comprich | Made with 💛 by students
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </body>
          </html>
          