@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61f805f6cfc1d7098cd9a75b.61f805f9d06be1b5a5e7ac60.uChJB2G.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
  /* width: 100vw; */
  /* max-width: 100vw; */
  position: relative;
  margin: 0 auto;
  /* transform: scale(0.99); */
}

html {
  width: 100vw;
  max-width: 100vw;
}
