

/* screen - hub */

.hub {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    /* height: 3786px; */
    /* overflow: hidden; */
    width: 100%;
    margin: 0 auto;
  }
  
  .hub .overlap-group6 {
    align-items: flex-start;
    background-image: url(../img/blobs@1x.svg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-left: -289px;
    margin-top: -38px;
    padding: 38px 288.7px;
    width: 3264px;
  }
  
  .hub .overlap-group7 {
    height: 450px;
    position: relative;
    width: 1538px;
  }
  
  .hub .rectangle-11 {
    background-color: var(--black);
    border-radius: 40px;
    height: 787px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1537px;
  }
  
  .hub .competition-hub {
    left: 402px;
    letter-spacing: 0;
    line-height: 90px;
    position: absolute;
    text-align: center;
    top: 240px;
    white-space: nowrap;
    width: 732px;
  }
  
  .hub .tools {
    align-items: flex-start;
    display: flex;
    height: 166px;
    left: 119px;
    min-width: 1300px;
    position: absolute;
    top: 445px;
  }
  
  .hub .picked-for-you {
    align-items: flex-end;
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 5px 5px 15px #00000026;
    display: flex;
    flex-direction: column;
    min-height: 166px;
    padding: 16px 23px;
    width: 252px;
  }
  
  .hub .picked-for-you-1 {
    letter-spacing: 0;
    line-height: 40px;
    margin-top: 7px;
    min-height: 60px;
    text-align: center;
    width: 205px;
  }
  
  .hub .frame {
    align-items: flex-end;
    align-self: center;
    display: flex;
    height: 45px;
    margin-left: 1.0px;
    margin-top: 22px;
    padding: 4px;
    width: 45px;
  }
  
  .hub .overlap-group {
    background-color: var(--black);
    background-image: url(../img/vector@2x.svg);
    background-size: 100% 100%;
    border-radius: 18px;
    height: 36px;
    width: 36px;
  }
  
  .hub .interest-quiz {
    height: 202px;
    margin-left: 24px;
    margin-top: -18px;
    width: 518px;
  }
  
  .hub .online-cv {
    height: 202px;
    margin-left: 6px;
    margin-top: -18px;
    width: 518px;
  }
  
  .hub .filter {
    align-items: center;
    display: flex;
    height: 75px;
    left: 119px;
    min-width: 1300px;
    position: absolute;
    top: 661px;
  }
  
  .hub .overlap-group3 {
    align-items: center;
    background-image: url(../img/rectangle-12@2x.svg);
    background-size: 100% 100%;
    display: flex;
    height: 75px;
    min-width: 478px;
    padding: 0 32px;
  }
  
  .hub .frame-1 {
    height: 35px;
    width: 35px;
  }
  
  .hub .search {
    color: var(--black-3);
    font-family: var(--font-family-josefin_sans);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 20px;
    min-height: 21px;
    width: 351px;
  }
  
  .hub .overlap-group2 {
    align-items: center;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 3px 3px 15px #00000026;
    display: flex;
    height: 75px;
    justify-content: flex-end;
    margin-left: 26px;
    min-width: 280px;
    padding: 19px 19.3px;
  }
  
  .hub .filter-1 {
    height: 27px;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 2.0px;
    white-space: nowrap;
    width: 182px;
  }
  
  .hub .frame-2 {
    align-self: flex-end;
    height: 35px;
    margin-left: 17px;
    width: 31px;
  }
  
  .hub .overlap-group1 {
    align-items: center;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 3px 3px 15px #00000026;
    display: flex;
    height: 75px;
    justify-content: flex-end;
    margin-left: 26px;
    min-width: 304px;
    padding: 19px 20.8px;
  }
  
  .hub .category {
    height: 27px;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 2.0px;
    white-space: nowrap;
    width: 198px;
  }
  
  .hub .frame-3 {
    align-self: flex-end;
    height: 35px;
    margin-left: 18px;
    width: 34px;
  }
  
  .hub .overlap-group-1 {
    align-items: flex-start;
    background-color: var(--sunglow);
    border-radius: 50px;
    display: flex;
    height: 66px;
    justify-content: flex-end;
    margin-left: 26px;
    margin-top: 1.0px;
    min-width: 158px;
    padding: 21px 24px;
  }
  
  .hub .find {
    letter-spacing: 0;
    min-height: 23px;
    text-align: center;
    width: 109px;
  }
  
  .hub .browse-opportunities {
    left: 374px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 348px;
    width: 790px;
  }
  
  .hub .header {
    align-items: flex-end;
    background-color: var(--black);
    box-shadow: 0px 20px 35px #0000000d;
    display: flex;
    height: 141px;
    justify-content: flex-end;
    left: 0;
    min-width: 1538px;
    padding: 34.9px 54px;
    position: absolute;
    top: 0;
  }
  
  .hub .logo-5 {
    height: 66px;
    margin-bottom: 2.13px;
    object-fit: cover;
    width: 370px;
  }
  
  .hub .group-8 {
    align-items: center;
    display: flex;
    margin-left: 353px;
    min-width: 702px;
  }
  
  .hub .about-us {
    letter-spacing: 0;
    margin-top: 1.87px;
    min-height: 19px;
    /* width: 135px; */
    color: var(--white)
  }
  
  .hub .hub-1 {
    letter-spacing: 0;
    margin-left: 58px;
    margin-top: 0;
    min-height: 19px;
    /* width: 56px; */
    color: var(--white)

  }
  
  .hub .our-blog {
    letter-spacing: 0;
    margin-left: 58px;
    margin-top: 0;
    min-height: 19px;
    /* width: 138px; */
    color: var(--white)

  }
  
  .hub .overlap-group-2 {
    align-items: center;
    text-align: center;
    background-color: var(--sunglow);
    border-radius: 50px;
    display: flex;
    height: 55px;
    margin-left: 58px;
    /* min-width: 193px; */
    padding: 18.1px 43px;
  }
  
  .hub .sign-up {
    letter-spacing: 0;
    min-height: 19px;
    width: 107px;
  }
  
  .hub .group-33 {
    align-items: flex-start;
    display: flex;
    height: 45px;
    margin-left: 128.0px;
    margin-top: 72px;
    min-width: 778px;
  }
  
  .hub .flex-col {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.5px;
    min-height: 48px;
    width: 218px;
  }
  
  .hub .all-upcoming {
    letter-spacing: 0;
    min-height: 35px;
  }
  
  .hub .line-3 {
    height: 5px;
    margin-top: 8px;
    width: 218px;
  }
  
  .hub #finishLine {
    width: 16vw;
  }
  
  .hub .for-you {
    letter-spacing: 0;
    margin-left: 68px;
    min-height: 35px;
    min-width: 124px;
  }
  
  .hub .past-competitions {
    letter-spacing: 0;
    margin-left: 68px;
    min-height: 35px;
    min-width: 24vw;
  }
  
  .hub .card-container {
    align-items: flex-start;
    display: flex;
    margin-left: 123.0px;
    margin-top: 41px;
    min-width: 1313px;
  }
  
  .hub .card {
    height: 691px;
    width: 419px;
  }
  
  .hub .card-1 {
    height: 691px;
    margin-left: 28px;
    width: 419px;
  }
  
  .hub .card-container-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 126.0px;
    margin-top: 30px;
    min-width: 1313px;
  }
  
  .hub .group-container {
    height: 1382px;
    margin-top: 47px;
    position: relative;
    width: 1538px;
  }
  
  .hub .group-55 {
    align-items: flex-start;
    background-color: var(--black);
    border-radius: 40px;
    display: flex;
    height: 570px;
    justify-content: flex-end;
    left: 0;
    min-width: 1538px;
    padding: 67px 121px;
    position: absolute;
    top: 0;
  }
  
  .hub .overlap-group1-1 {
    height: 383px;
    position: relative;
    width: 579px;
  }
  
  .hub .rectangle {
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 5px 5px 15px #00000026;
    height: 358px;
    left: 0;
    position: absolute;
    top: 0;
    width: 579px;
  }
  
  .hub .saly-17 {
    height: 150px;
    left: 123px;
    position: absolute;
    top: 36px;
    width: 332px;
  }
  
  .hub .start-your-own-competitive-journey {
    left: 64px;
    letter-spacing: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 208px;
    width: 451px;
  }
  
  .hub .overlap-group-3 {
    align-items: flex-end;
    background-color: var(--sunglow);
    border-radius: 50px;
    display: flex;
    height: 66px;
    left: 129px;
    min-width: 321px;
    padding: 21.4px 35.3px;
    position: absolute;
    top: 317px;
  }
  
  .hub .open-profile {
    letter-spacing: 0;
    min-height: 23px;
    text-align: center;
    width: 249px;
  }
  
  .hub .overlap-group2-1 {
    height: 383px;
    margin-left: 137px;
    position: relative;
    width: 579px;
  }
  
  .hub .saly-10 {
    height: 182px;
    left: 171px;
    position: absolute;
    top: 26px;
    width: 232px;
  }
  
  .hub .share-your-wins {
    left: 64px;
    letter-spacing: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 451px;
  }
  
  .hub .overlap-group-4 {
    align-items: flex-end;
    background-color: var(--sunglow);
    border-radius: 50px;
    display: flex;
    height: 66px;
    left: 143px;
    min-width: 293px;
    padding: 21.4px 32.2px;
    position: absolute;
    top: 317px;
  }
  
  .hub .let-us-know {
    letter-spacing: 0;
    min-height: 23px;
    text-align: center;
    width: 227px;
  }
  
  .hub .overlap-group4 {
    align-items: center;
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 0px -20px 35px #0000000d;
    display: flex;
    flex-direction: column;
    left: 1px;
    min-height: 472px;
    padding: 60px 0;
    position: absolute;
    top: 487px;
    width: 1537px;
  }
  
  .hub .ready-to-work-with-comprich {
    letter-spacing: 0;
    min-height: 34px;
    text-align: center;
    width: 699px;
  }
  
  .hub .overlap-group-5 {
    align-items: center;
    background-color: var(--sunglow);
    border-radius: 50px;
    display: flex;
    height: 77px;
    margin-right: 1.0px;
    margin-top: 49px;
    min-width: 302px;
    padding: 0 12.6px;
  }
  
  .hub .back-to-top {
    letter-spacing: 0;
    min-height: 27px;
    text-align: center;
    width: 276px;
  }
  
  .hub .overlap-group5 {
    align-items: flex-end;
    background-image: url(../img/rectangle-10@1x.svg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    left: 1px;
    min-height: 609px;
    padding: 15px 59.0px;
    position: absolute;
    top: 773px;
    width: 1537px;
  }
  
  .hub .flex-row {
    align-items: center;
    align-self: center;
    display: flex;
    margin-left: 0.8px;
    margin-top: 35px;
    min-width: 1354px;
  }
  
  .hub .logo-1 {
    height: 90px;
    object-fit: cover;
    width: 432px;
  }
  
  .hub .overlap-group-6 {
    align-items: flex-end;
    background-color: var(--white);
    border-radius: 50px;
    display: flex;
    height: 77px;
    justify-content: flex-end;
    margin-bottom: 0.85px;
    margin-left: 619px;
    min-width: 304px;
    padding: 25.4px 46px;
  }
  
  .hub .get-started {
    letter-spacing: 0;
    min-height: 26px;
    width: 211px;
  }
  
  .hub .vector-10 {
    height: 2px;
    margin-top: 45px;
    width: 1418px;
  }
  
  .hub .group-container-1 {
    align-items: flex-start;
    display: flex;
    height: 246px;
    margin-right: 11.0px;
    margin-top: 55px;
    min-width: 1337px;
  }
  
  .hub .group-17 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 116px;
    width: 219px;
  }
  
  .hub .follow-us {
    letter-spacing: 0;
    min-height: 34px;
    width: 217px;
  }
  
  .hub .socials {
    height: 46px;
    margin-left: 2.5px;
    margin-top: 39px;
    width: 136px;
  }
  
  .hub .group-18 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 367px;
    min-height: 201px;
    width: 221px;
  }
  
  .hub .site {
    letter-spacing: 0;
    min-height: 34px;
    width: 217px;
  }
  
  .hub .home-about-contact {
    letter-spacing: 0;
    line-height: 45px;
    margin-top: 22px;
    min-height: 145px;
    width: 185px;
  }
  
  .hub .group-20 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    min-height: 155px;
    width: 221px;
  }
  
  .hub .services {
    letter-spacing: 0;
    min-height: 34px;
    width: 217px;
  }
  
  .hub .hub-blog {
    letter-spacing: 0;
    line-height: 45px;
    margin-top: 22px;
    min-height: 99px;
    width: 185px;
  }
  
  .hub .group-19 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    min-height: 246px;
    width: 221px;
  }
  
  .hub .company {
    letter-spacing: 0;
    min-height: 34px;
    width: 217px;
  }
  
  .hub .our-team-join-us-partnerships {
    letter-spacing: 0;
    line-height: 45px;
    margin-top: 19px;
    min-height: 193px;
    width: 185px;
  }
  
  .hub .x2021-comprich-ma {
    align-self: center;
    letter-spacing: 0;
    line-height: 60px;
    margin-left: 2.0px;
    margin-top: 25px;
    min-height: 81px;
    text-align: center;
    width: 693px;
  }
  
  /* styles for cards */
  
  .home .gallery {
    align-items: center;
    display: flex;
    height: 500px;
    margin-right: 4.0px;
    margin-top: 65px;
    min-width: 1417px;
  }
  
  
  .home .frame {
    height: 80px;
    width: 80px;
  }
  
  .home .overlap-group1 {
    align-items: center;
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 5px 5px 15px #00000026;
    display: flex;
    flex-direction: column;
    /* margin-right: 33px; */
    margin: 0 auto;
    min-height: 500px;
    width: 347px;
  }
  
  .home .image-41 {
    height: 100%;
    margin-left: 0.28px;
    object-fit: contain;
    width: 100%;
  }
  
  .home .tiger-global-case-competition {
    letter-spacing: 0;
    margin-left: 1.48px;
    margin-top: 20px;
    min-height: 46px;
    text-align: center;
    width: 238px;
  }
  
  .home .overlap-groupx {
    align-items: flex-end;
    background-color: var(--black);
    border-radius: 50px;
    display: flex;
    height: 43px;
    justify-content: flex-end;
    margin-left: 0.28px;
    margin-top: 20px;
    min-width: 181px;
    padding: 12.7px 23.1px;
  }
  
  .home .learn-more {
    letter-spacing: 0;
    min-height: 16px;
    text-align: center;
    width: 134px;
  }
  
  .home .overlap-group-1 {
    align-items: center;
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 5px 5px 15px #00000026;
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    min-height: 500px;
    width: 347px;
  }
  
  .home .frame-1 {
    height: 80px;
    margin-left: 35px;
    width: 80px;
  }
  
  
  /* added styles */
  select {
    border: none;
    outline: none;
    font-family: inherit;
    font: inherit;
    appearance: none;
    width: 100%;
  }
  