body {
  font-size: 20px;
}

#container {
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
}

#start {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-top: 5%;
  height: 10%;
  width: 80%;
  transition: 300ms;
}
#start:hover {
  border: 2px solid #51cbce;
  background-color: #51cbce;
}

#qImg {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto auto;
}
#qImg img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
}

#question {
  width: auto;
  margin: 0 auto;
  margin-top: 5%;
  position: absolute;
  display: block;
  text-align: center;
}

#question h6 {
  margin: 0;
  padding: 15px;
  font-size: 1.25em;
}

#choices {
  width: auto;
  /* position: absolute; */
  height: 10%;
  margin-top: 5%;
}

#finish {
  max-width: 1000px;
  /* position: absolute; */
  left: 0px;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  float: right;
  display: block
}

.choice {
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  transition: 300ms;
  min-width: 100px;
}

/* .choice:hover {
  border: 1px solid grey;
  background: #51cbce;
} */

#B {
  margin-top: 5px;
}

#counter {
  font-size: 3em;
}
#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 25px;
}
#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 25px;
}

#progress {
  width: auto;
  padding-right: 1%;
  margin-top: 13%;
}

.prog {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}

#scoreContainer {
  margin: 20px auto;
  background-color: white;
  opacity: 0.8;
  /* height: 300px; */
  /* width: 700px; */
  width: 100%;
  border-radius: 5px;
  text-align: center;
  /* box-shadow: 0px 5px 15px 0px; */
  position: relative;
  display: none;
}
/* #scoreContainer img {
  position: absolute;
  top: 100px;
  left: 325px;
} */
#scoreContainer p {
  /* position: absolute; */
  display: block;
  /* width: 59px; */
  /* height: 59px; */
  top: 200px;
  /* left: 325px; */
  width: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  /* font-weight: bold; */
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

#scoreContainer span {
  font-weight: bold;
}
