<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="updated/css/about.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
    <title>Comprich | About</title>
  </head>
  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="about" />
    <div class="container-center-horizontal">
      <div class="about screen">
        <div class="overlap-group8">
          <img class="blobs" src="updated/img/blobs@1x.svg" />
          <div class="team">
            <div class="meet-the-team josefinsans-semi-bold-black-80px">Meet the Team</div>
            <div class="overlap-group3">
              <img class="frame" src="updated/img/frame@2x.svg" />
              <img class="frame-1" src="updated/img/frame-1@2x.svg" />
              <div class="gallery">
                <img class="frame-2" src="updated/img/frame@2x.svg" />
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <img class="frame-3" src="updated/img/frame@2x.png" />
              </div>
              <div class="surname josefinsans-normal-black-25px">Head of Outreach</div>
              <div class="first-last josefinsans-semi-bold-black-35px-2">First Last</div>
              <div class="ambassador josefinsans-normal-black-25px">Ambassador</div>
              <div class="first-last-1 josefinsans-semi-bold-black-35px-2">First Last</div>
              <div class="circle-placeholder border-1px-star-dust">
                <div class="line-container">
                  <img class="line-1" src="updated/img/line-1@2x.svg" />
                  <img class="line-2" src="updated/img/line-2@2x.svg" />
                </div>
              </div>
              <div class="circle-placeholder-1 border-1px-star-dust">
                <div class="line-container">
                  <img class="line-1" src="updated/img/line-1@2x.svg" />
                  <img class="line-2" src="updated/img/line-2@2x.svg" />
                </div>
              </div>
              <div class="overlap-group2">
                <div class="circle-placeholder-2 border-1px-star-dust">
                  <div class="line-container">
                    <img class="line-1" src="updated/img/line-1@2x.svg" />
                    <img class="line-2" src="updated/img/line-2@2x.svg" />
                  </div>
                </div>
                <div class="first-last-2 josefinsans-semi-bold-black-35px-2">First Last</div>
                <div class="writer josefinsans-normal-black-25px">Writer</div>
              </div>
            </div>
            <div class="interested-in-what-w josefinsans-normal-black-32px">
              <span class="josefinsans-normal-black-32px">Interested in what we do? Consider </span
              ><span class="span1 josefinsans-normal-black-32px">joining us</span
              ><span class="josefinsans-normal-black-32px">!</span>
            </div>
          </div>
          <div class="our-mission josefinsans-semi-bold-black-80px">Our Mission</div>
          <div class="we-live-in-a-juxtapo josefinsans-normal-black-30px">
            We live in a juxtaposed world. Opportunities are ample, yet still difficult to discover. Competitions are
            plentiful yet require strenuous efforts to come across. Information is available, yet almost impossible to
            find. <br /><br />Comprich seeks to make this world just a little less confusing. As opposed to spending
            countless hours searching for competitions, we have them all in one convenient place.
          </div>
          <div class="rectangle-10"></div>
          <div class="about-us">
            <div class="about-us-1 josefinsans-semi-bold-white-80px">About Us</div>
            <div class="group-container">
              <div class="group-25">
                <img class="group-31" src="updated/img/group-31@2x.svg" />
                <div class="siddhant-tandon">Siddhant Tandon</div>
                <div class="ceo">CEO</div>
              </div>
              <!-- <img class="group-27" src="updated/img/group-27@2x.svg" /> -->
              <img class="group-26" src="updated/img/group-26@2x.svg" />
            </div>
            <div class="socials-container">
              <div class="sm-links">
                <a href="https://www.instagram.com/sid_tandon_official/?hl=en" target="_blank"><img class="socials" src="updated/img/Instagram.svg" style="display: inline"/></a>
                <a href="https://www.linkedin.com/in/siddhant-tandon-874a56205/" target="_blank"><img class="socials" src="updated/img/LinkedIn.svg" style="display: inline;"/></a>
            </div>
              <!-- <img class="socials-1" src="updated/img/socials@2x.svg" /> -->
              <div class="sm-links">
                <a href="https://www.instagram.com/saatvikxsharma/?hl=en" target="_blank"><img class="socials" src="updated/img/Instagram.svg" style="display: inline"/></a>
                <a href="https://www.linkedin.com/in/saatvik-sharma-67b513212/" target="_blank"><img class="socials" src="updated/img/LinkedIn.svg" style="display: inline;"/></a>
            </div>
            </div>
            <div class="flex-row josefinsans-normal-white-24px">
              <div class="siddhant-tandon-is-a">
                Siddhant is a seasoned competition veteran, winning some of the worlds biggest competitions such as the Tiger Global Case Compeittion and the World Scholar’s Cup, as well as organizing many others including the largest THIMUN affiliated conference in the Middle East, DIAMUN. With his extensive experience in both the competition and entrepreneruship space, brings his learnings to Comprich to develop solutions for students all over the world.
              </div>
              <div class="saatvik-sharma-is-a">
                Saatvik Sharma is a passionate drummer and a website developer. Having participated in many debate
                competitions, he understands the struggle of mustering enough courage to participate in competitions and
                wanted to provide a platform to help.
              </div>
            </div>
          </div>
          <img class="doodle-2-2" src="updated/img/doodle-2-2@2x.png" />
          <div class="form">
            <form action="/messages" method="POST">
              <div class="contact-us josefinsans-semi-bold-black-80px">Contact Us</div>
              <div class="flex-row-1">
                <div class="flex-col">
                  <div class="place josefinsans-normal-black-25px-2">Name</div>
                  <div class="overlap-group1">
                    <img class="frame-5" src="updated/img/frame-5@2x.svg" />
                    <input class="josefinsans-normal-black-25px" type="text" name="message[name]" placeholder="Name" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
                  </div>
                </div>
                <div class="flex-col-1">
                  <div class="email josefinsans-normal-black-25px-2">Email</div>
                  <div class="overlap-group1">
                    <img class="frame-5" src="updated/img/frame-5@2x.svg" />
                    <input class="josefinsans-normal-black-25px" type="text" name="message[email]" placeholder="Email" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
                  </div>
                </div>
              </div>
              <div class="message josefinsans-normal-black-25px-2">Message</div>
              <div class="overlap-group4">
                <textarea name="message[body]" id="" class="josefinsans-normal-black-25px" rows="7" placeholder="Tell us your thoughts..." required style="border: none; width: 100%; height: 100%; outline: none;"></textarea>
              </div>
              <button style="cursor: pointer; background: none; outline: none; border: none; height: 100%"><div class="overlap-group2-1"><div class="send-message josefinsans-bold-black-30px">SEND MESSAGE</div></div></button>
            </form>
            </div>
          <img class="saly-27" src="updated/img/saly-27@2x.png" />
          <img class="blob" src="updated/img/blob@1x.svg" />
          <img class="saly-13" src="updated/img/saly-13@1x.png" />
          <div class="header">
            <a href="/home"><img class="logo-5" src="updated/img/logo-5@2x.png" /></a>
            <div class="group-8 josefinsans-bold-black-25px">
              <a href="/about"><div class="about-us-2">HUB</div></a>
                <a href="/competitions"><div class="hub">ABOUT US</div></a>
                <% if(currentUser){ %>
                  <a href="/logout"><div class="our-blog">LOGOUT</div></a>
                  <a href="/my-profile"><div class="overlap-group-1"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></div></a>
                <% } else { %>
                  <a href="/login"><div class="our-blog">LOGIN</div></a>
                  <a href="/register"><div class="overlap-group-1"><div class="sign-up josefinsans-bold-black-25px">SIGN UP</div></div></a>
                <% } %>
            </div>
          </div>
        </div>
        <div class="overlap-group-container">
          <div class="overlap-group5">
            <div class="ready-to-work-with-comprich josefinsans-semi-bold-black-45px">Ready to work with Comprich?</div>
            <div class="overlap-group-2">
              <a href="/competitions"><div class="explore-competition-hub josefinsans-bold-black-30px">EXPLORE COMPETITION HUB</div></a>
            </div>
          </div>
          <div class="overlap-group6">
            <div class="flex-row-2">
              <img class="logo-1" src="updated/img/logo-1@2x.png" />
              <a href="/register"><div class="overlap-group-3"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div></a>
            </div>
            <img class="vector-10" src="updated/img/vector-10@1x.svg" />
            <div class="group-container-1">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                <div class="sm-links">
                  <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="updated/img/Instagram.svg" style="display: inline"/></a>
                  <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="updated/img/LinkedIn.svg" style="display: inline;"/></a>
                </div>
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">
                  <a href="/home">Home</a><br />
                  <a href="/about">About</a><br />
                  <a href="/about">Contact</a>
                </div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">
                  <a href="/competitions">Hub</a><br />
                  <a href="/blog">Blog</a>
                </div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                  <a href="/about#team">Our Team</a><br />
                  <a href="/contact">Join Us</a><br />
                  <a href="/partners">Partnerships</a>
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
