<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="updated/css/about.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
  </head>
  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="about" />
    <div class="container-center-horizontal">
      <div class="about screen">
        <div class="overlap-group8">
          <img class="blobs" src="updated/img/blobs@1x.svg" />
          <div class="team">
            <div class="meet-the-team josefinsans-semi-bold-black-80px">Meet the Team</div>
            <div class="overlap-group3">
              <img class="frame" src="updated/img/frame@2x.svg" />
              <img class="frame-1" src="updated/img/frame-1@2x.svg" />
              <div class="gallery">
                <img class="frame-2" src="updated/img/frame@2x.svg" />
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <img class="frame-3" src="updated/img/frame@2x.png" />
              </div>
              <div class="surname josefinsans-normal-black-25px">Head of Outreach</div>
              <div class="first-last josefinsans-semi-bold-black-35px-2">First Last</div>
              <div class="ambassador josefinsans-normal-black-25px">Ambassador</div>
              <div class="first-last-1 josefinsans-semi-bold-black-35px-2">First Last</div>
              <div class="circle-placeholder border-1px-star-dust">
                <div class="line-container">
                  <img class="line-1" src="updated/img/line-1@2x.svg" />
                  <img class="line-2" src="updated/img/line-2@2x.svg" />
                </div>
              </div>
              <div class="circle-placeholder-1 border-1px-star-dust">
                <div class="line-container">
                  <img class="line-1" src="updated/img/line-1@2x.svg" />
                  <img class="line-2" src="updated/img/line-2@2x.svg" />
                </div>
              </div>
              <div class="overlap-group2">
                <div class="circle-placeholder-2 border-1px-star-dust">
                  <div class="line-container">
                    <img class="line-1" src="updated/img/line-1@2x.svg" />
                    <img class="line-2" src="updated/img/line-2@2x.svg" />
                  </div>
                </div>
                <div class="first-last-2 josefinsans-semi-bold-black-35px-2">First Last</div>
                <div class="writer josefinsans-normal-black-25px">Writer</div>
              </div>
            </div>
            <div class="interested-in-what-w josefinsans-normal-black-32px">
              <span class="josefinsans-normal-black-32px">Interested in what we do? Consider </span
              ><span class="span1 josefinsans-normal-black-32px">joining us</span
              ><span class="josefinsans-normal-black-32px">!</span>
            </div>
          </div>
          <div class="our-mission josefinsans-semi-bold-black-80px">Our Mission</div>
          <div class="we-live-in-a-juxtapo josefinsans-normal-black-30px">
            We live in a juxtaposed world. Opportunities are ample, yet still difficult to discover. Competitions are
            plentiful yet require strenuous efforts to come across. Information is available, yet almost impossible to
            find. <br /><br />Comprich seeks to make this world just a little less confusing. As opposed to spending
            countless hours searching for competitions, we have them all in one convenient place.
          </div>
          <div class="rectangle-10"></div>
          <div class="about-us">
            <div class="about-us-1 josefinsans-semi-bold-white-80px">About Us</div>
            <div class="group-container">
              <div class="group-25">
                <img class="group-31" src="updated/img/group-31@2x.svg" />
                <div class="siddhant-tandon">Siddhant Tandon</div>
                <div class="ceo">CEO</div>
              </div>
              <img class="group-27" src="updated/img/group-27@2x.svg" />
              <img class="group-26" src="updated/img/group-26@2x.svg" />
            </div>
            <div class="socials-container">
              <img class="socials" src="updated/img/socials@2x.svg" />
              <img class="socials-1" src="updated/img/socials@2x.svg" />
              <img class="socials-2" src="updated/img/socials@2x.svg" />
            </div>
            <div class="flex-row josefinsans-normal-white-24px">
              <div class="siddhant-tandon-is-a">
                Siddhant Tandon is an avid debater, economics nerd and hardened competition veteran. Having won many
                competitions like the DEWA Conservation Award, MUN conferences, and even the World Scholar’s Cup, he
                recognizes the significance and enrichment of participating in competitions.
              </div>
              <div class="name">
                Tina Mai is an entrepreneur and product designer. She is the founder and developer of the app VAST, the
                first place winner of the World Series of Innovation, and the Global Champion of the Tiger Global Case
                Competition. She hopes to make competitions an accessible and innovative pathway to success.
              </div>
              <div class="saatvik-sharma-is-a">
                Saatvik Sharma is a passionate drummer and a website developer. Having participated in many debate
                competitions, he understands the struggle of mustering enough courage to participate in competitions and
                wanted to provide a platform to help.
              </div>
            </div>
          </div>
          <img class="doodle-2-2" src="updated/img/doodle-2-2@2x.png" />
          <div class="form">
            <div class="contact-us josefinsans-semi-bold-black-80px">Contact Us</div>
            <div class="flex-row-1">
              <div class="flex-col">
                <div class="place josefinsans-normal-black-25px-2">Name</div>
                <div class="overlap-group">
                  <img class="frame-4" src="updated/img/frame-4@2x.svg" />
                  <div class="place-1 valign-text-middle josefinsans-normal-black-25px-3">Name</div>
                </div>
              </div>
              <div class="flex-col-1">
                <div class="email josefinsans-normal-black-25px-2">Email</div>
                <div class="overlap-group1">
                  <img class="frame-5" src="updated/img/frame-5@2x.svg" />
                  <div class="email-1 valign-text-middle josefinsans-normal-black-25px-3">Email</div>
                </div>
              </div>
            </div>
            <div class="message josefinsans-normal-black-25px-2">Message</div>
            <div class="overlap-group4">
              <div class="tell-us-your-thoughts josefinsans-normal-black-25px-3">Tell us your thoughts...</div>
            </div>
            <div class="overlap-group2-1"><div class="send-message josefinsans-bold-black-30px">SEND MESSAGE</div></div>
          </div>
          <img class="saly-27" src="updated/img/saly-27@2x.png" />
          <img class="blob" src="updated/img/blob@1x.svg" />
          <img class="saly-13" src="updated/img/saly-13@1x.png" />
          <div class="header">
            <img class="logo-5" src="updated/img/logo-5@2x.png" />
            <div class="group-8 josefinsans-bold-black-25px">
              <div class="about-us-2">ABOUT US</div>
              <div class="hub">HUB</div>
              <div class="our-blog">OUR BLOG</div>
              <div class="overlap-group-1"><div class="sign-up josefinsans-bold-black-25px">SIGN UP</div></div>
            </div>
          </div>
        </div>
        <div class="overlap-group-container">
          <div class="overlap-group5">
            <div class="ready-to-work-with-comprich josefinsans-semi-bold-black-45px">Ready to work with Comprich?</div>
            <div class="overlap-group-2">
              <div class="explore-competition-hub josefinsans-bold-black-30px">EXPLORE COMPETITION HUB</div>
            </div>
          </div>
          <div class="overlap-group6">
            <div class="flex-row-2">
              <img class="logo-1" src="updated/img/logo-1@2x.png" />
              <div class="overlap-group-3"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
            </div>
            <img class="vector-10" src="updated/img/vector-10@1x.svg" />
            <div class="group-container-1">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                <img class="socials-3" src="updated/img/socials-3@2x.svg" />
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">Home<br />About<br />Contact</div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">Hub<br />Blog</div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                  Our Team<br />Join Us<br />Partnerships
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
