<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/updated/css/new-competition.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/globals.css" />
    <title>Comprich | Add to CV</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E7EG7SGSS2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E7EG7SGSS2');
    </script>
  </head>
  <%- include('partials/flash') %>

  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="new-competition" />
    <div class="container-center-horizontal">
      <div class="new-competition screen">
        <div class="header">
          <a href="/home"><img class="logo-5" src="/updated/img/logo-5@2x.png" /></a>
          <div class="group-8 josefinsans-bold-black-25px">
            <a href="/hub"><div class="about-us">HUB</div></a>
            <% if(currentUser && currentUser.isAdmin == true){ %>
              <a href="/new"><div class="hub">NEW</div></a>
            <% } else { %>
              <a href="/about"><div class="hub">ABOUT US</div></a>
            <% } %>
            <% if(currentUser){ %>
              <a href="/logout"><div class="our-blog">LOGOUT</div></a>
              <a href="/my-profile"><div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">PROFILE</div></div></a>
            <% } else { %>
              <a href="/login"><div class="our-blog">LOGIN</div></a>
              <a href="/register"><div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">SIGN UP</div></div></a>
            <% } %>

          </div>
        </div>
        <div class="new-competition-1 josefinsans-semi-bold-black-80px">Add to CV</div>
        <form action="/add-to-cv" method="POST" enctype="multipart/form-data">
        <div class="new-competition-item">
          <div class="name-of-competition josefinsans-normal-black-25px-2">Name of Competition</div>
          <div class="overlap-group8">
            <input class="josefinsans-normal-black-25px" type="text" name="cv[competition]" value="<%= title %>" placeholder="Name" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
        </div>
        </div>
        <div class="description">
          <div class="description-1 josefinsans-normal-black-25px-2">Awards Won</div>
          <div class="overlap-group7">
            <textarea name="cv[awards]" id="" class="josefinsans-normal-black-25px" rows="7" placeholder="Description" required style="border: none; width: 100%; height: 100%; outline: none;"></textarea>
        </div>
        </div>
        
        <div class="description">
            <div class="description-1 josefinsans-normal-black-25px-2">Skills Gained</div>
            <div class="overlap-group7">
              <textarea name="cv[skills]" id="" class="josefinsans-normal-black-25px" rows="7" placeholder="Details" required style="border: none; width: 100%; height: 100%; outline: none;"></textarea>
          </div>
        </div>
        
        <!-- <div class="new-competition-item">
          <div class="due-date josefinsans-normal-black-25px-2">Date</div>
          <div class="overlap-group5">
            <input type="date" name="cv[date]" value="" placeholder="DD/MM/YYYY" required style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">

          </div>
        </div>
         -->
        <input type="text" name="cv[comp_id]" value="<%= id %>" style="display: none;">
          
          <div class="add-button" style="cursor: pointer">
            <button style="border: none; background: none; outline: none" style="cursor: pointer">
                <div class="overlap-group2" style="cursor: pointer">
                    <div class="add josefinsans-bold-black-30px">ADD</div>
                </div>
            </button>
          </div>
        </form>
        <div class="footer">
          <div class="overlap-group1">
            <div class="flex-row">
              <img class="logo-1" src="/updated/img/logo-1@2x.png" />
              <div class="overlap-group-1"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
            </div>
            <img class="vector-10" src="/updated/img/vector-10@1x.svg" />
            <div class="group-container">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px" style="display: block">Follow Us</div>
                    <div class="sm-links">
                        <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="/updated/img/Instagram.svg" style="display: inline"/></a>
                        <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="/updated/img/LinkedIn.svg" style="display: inline;"/></a>
                    </div>
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">
                    <a href="/home">Home</a><br />
                    <a href="/about">About</a><br />
                    <a href="/contact">Contact</a>
                </div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">
                    <a href="/competitions">Hub</a><br />
                    <a href="/blog">Blog</a>
                </div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                    <a href="/about#team">Our Team</a><br />
                    <a href="/contact">Join Us</a><br />
                    <a href="/partners">Partnerships</a>
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
