<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/updated/css/new-competition.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/updated/css/globals.css" />
    <title>Comprich | New Internship</title>
  </head>
  <%- include('partials/flash') %>
  <body style="margin: 0; background: #fffefd">
    <input type="hidden" id="anPageName" name="page" value="new-competition" />
    <div class="container-center-horizontal">
      <div class="new-competition screen">
        <div class="header">
          <a href="/home"><img class="logo-5" src="/updated/img/logo-5@2x.png" /></a>
          <div class="group-8 josefinsans-bold-black-25px">
            <a href="/hub"><div class="about-us">HUB</div></a>
            <% if(currentUser && currentUser.isAdmin == true){ %>
              <a href="/new"><div class="hub">NEW</div></a>
            <% } else { %>
              <a href="/about"><div class="hub">ABOUT US</div></a>
            <% } %>
            <% if(currentUser){ %>
              <a href="/logout"><div class="our-blog">LOGOUT</div></a>
              <a href="/my-profile"><div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">PROFILE</div></div></a>
            <% } else { %>
              <a href="/login"><div class="our-blog">LOGIN</div></a>
              <a href="/register"><div class="overlap-group"><div class="hi-john josefinsans-bold-black-25px">SIGN UP</div></div></a>
            <% } %>
          </div>
        </div>
        <div class="new-competition-1 josefinsans-semi-bold-black-80px">New Internship</div>
        <form action="/internships" method="POST" enctype="multipart/form-data">
        <div class="new-competition-item">
          <div class="name-of-competition josefinsans-normal-black-25px-2">Company Name</div>
          <div class="overlap-group8">
            <input class="josefinsans-normal-black-25px" type="text" name="i[companyName]" placeholder="Company Name" required style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
            </div>
        </div>
        <div class="new-competition-item">
            <div class="due-date josefinsans-normal-black-25px-2">
                <div class="image-1 josefinsans-normal-black-25px-2">Company Logo</div>
                <div class="overlap-group5">
                    <input type="file" name="image" accept="image/*" required style="border: none; margin-left: none; outline: none; height: 100%; width: 100%;">
                </div>
            </div>
        </div>
        <div class="new-competition-item">
            <div class="location josefinsans-normal-black-25px-2">Intern Position</div>
            <div class="overlap-group6">
              <input class="josefinsans-normal-black-25px" type="text" name="i[internPosition]" required placeholder="Intern Position" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
            </div>
        </div>
        <div class="new-competition-item">
            <div class="location josefinsans-normal-black-25px-2">Intern Date</div>
            <div class="overlap-group6">
              <input class="josefinsans-normal-black-25px" type="text" name="i[internDate]" required placeholder="1st June - 14th June" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
            </div>
        </div>
        <div class="new-competition-item">
            <div class="location josefinsans-normal-black-25px-2">Age Requirement</div>
            <div class="overlap-group6">
              <input class="josefinsans-normal-black-25px" type="text" name="i[ageRequirement]" required placeholder="16+ / 15-18" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
            </div>
        </div>
        <div class="new-competition-item">
          <div class="location josefinsans-normal-black-25px-2">Location</div>
          <div class="overlap-group6">
            <input class="josefinsans-normal-black-25px" type="text" name="i[location]" required placeholder="Dubai" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
          </div>
      </div>
        <div class="new-competition-item">
            <div class="due-date josefinsans-normal-black-25px-2">Last Date to Sign Up</div>
            <div class="overlap-group5">
              <input class="josefinsans-normal-black-25px" type="date" name="i[signUpDate]" required placeholder="DD/MM/YYYY" required style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
  
            </div>
          </div>
        <div class="description">
          <div class="description-1 josefinsans-normal-black-25px-2">Description</div>
          <div class="overlap-group7">
            <textarea name="i[desc]" id="desc" class="josefinsans-normal-black-25px" rows="7" required placeholder="Description" required style="border: none; width: 100%; height: 100%; outline: none;"></textarea>
            </div>
        </div>
        
       
        

        <!-- <img class="image-placeholder" src="updated/img/image-placeholder@2x.png" /> -->

        <div class="price">
          <div class="surname josefinsans-normal-black-25px-2">Stipend</div>
          <div class="overlap-group4">
            <input class="josefinsans-normal-black-25px" type="text" name="i[reimbursement]" placeholder="$100" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
          </div>
          <div class="leave-blank-if-competition-is-free">Leave blank if internship is unpaid</div>
        </div>
        <div class="competition-link">
            <div class="competition-link-1 josefinsans-normal-black-25px-2">Sign Up Link</div>
            <div class="overlap-group5">
              <input class="josefinsans-normal-black-25px" type="text" name="i[signUpForm]" required placeholder="Sign Up Link" style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
            </div>
            <div class="use-social-media-lin">
              Please include https:// before your link to
              avoid errors
            </div>
        </div>
        
        
        <div class="add-button" style="cursor: pointer">
            <button style="border: none; background: none; outline: none" style="cursor: pointer">
                <div class="overlap-group2" style="cursor: pointer">
                    <div class="add josefinsans-bold-black-30px">ADD</div>
                </div>
            </button>
        </div>
        </form>
        <div class="footer">
          <div class="overlap-group1">
            <div class="flex-row">
              <img class="logo-1" src="/updated/img/logo-1@2x.png" />
              <div class="overlap-group-1"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
            </div>
            <img class="vector-10" src="/updated/img/vector-10@1x.svg" />
            <div class="group-container">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px" style="display: block">Follow Us</div>
                    <div class="sm-links">
                        <a href=" https://www.instagram.com/comprichapp/?hl=en" target="_blank"><img class="socials" src="/updated/img/Instagram.svg" style="display: inline"/></a>
                        <a href=" https://www.linkedin.com/company/comprich/" target="_blank"><img class="socials" src="/updated/img/LinkedIn.svg" style="display: inline;"/></a>
                    </div>
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">
                    <a href="/home">Home</a><br />
                    <a href="/about">About</a><br />
                    <a href="/contact">Contact</a>
                </div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">
                    <a href="/competitions">Hub</a><br />
                    <a href="/blog">Blog</a>
                </div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                    <a href="/about#team">Our Team</a><br />
                    <a href="/contact">Join Us</a><br />
                    <a href="/partners">Partnerships</a>
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
</html>
