<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="updated/css/log-in.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
    <title>Comprich | Reset Password</title>
  </head>
  <%- include('partials/flash') %>

  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="log-in" />
    <div class="container-center-horizontal">
      <div class="log-in screen">
        <div class="overlap-group2">
          <img class="blob" src="updated/img/blob@1x.svg" />
          <div class="rectangle-21"></div>
          <div class="dont-have-an-account-sign-up josefinsans-normal-black-25px" style="top: 925px">
            <span class="josefinsans-normal-black-25px">Don’t have an account? </span
            ><a href="/register"><span class="josefinsans-bold-black-25px">Sign up</span></a>
          </div>
          <form action="/reset/<%= token %>" method="POST">
            <div class="fields">
                <div class="username">
                  <div class="username-1 josefinsans-normal-black-25px-2">New Password*</div>
                  <div class="overlap-group1">
                      <input class="josefinsans-normal-black-25px" type="password" name="password" placeholder="********" required style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
                  </div>
                </div>

                <div class="username">
                    <div class="username-1 josefinsans-normal-black-25px-2">Confirm Password*</div>
                    <div class="overlap-group1">
                        <input class="josefinsans-normal-black-25px" type="password" name="confirm" placeholder="********" required style="border: none; margin-left: none; outline: none; height: 100%; width: 100%; font-size: 1.5em;">
                    </div>
                  </div>
                
              </div>
              <button style="cursor: pointer;">
                <div class="overlap-group" style="top: 800px"><div class="log-in-1 josefinsans-bold-black-30px">CONFIRM</div></div>
              </button>
          </form>


          <div class="required-fields josefinsans-normal-black-25px">*Required fields</div>
          <img class="x3-d" src="updated/img/3d@1x.png" />
          <div class="log-in-to-comprich-here josefinsans-semi-bold-white-25px">Recover your account here</div>
          <div class="welcome-back josefinsans-semi-bold-white-80px">Welcome<br />Back</div>
          <img class="doodle-3-1" src="updated/img/doodle-3-1@2x.png" />
          <img class="doodle-5-1" src="updated/img/doodle-5-1@2x.png" />
          <!-- <img class="exit-button" src="updated/img/exit-button@2x.svg" /> -->
          <div class="header">
            <a href="/home"><img class="logo-5" src="updated/img/logo-5@2x.png" /></a>
            <div class="group-8 josefinsans-bold-black-25px">
                <a href="/hub"><div class="about-us">HUB</div></a>
                <% if(currentUser && currentUser.isAdmin == true){ %>
                  <a href="/new"><div class="hub">NEW</div></a>
                <% } else { %>
                  <a href="/about"><div class="hub">ABOUT US</div></a>
                <% } %>
                <% if(currentUser){ %>
                  <a href="/logout"><div class="our-blog">LOGOUT</div></a>
                  <a href="/my-profile"><div class="overlap-group-2"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></div></a>
                <% } else { %>
                  <a href="/login"><div class="our-blog">LOGIN</div></a>
                  <a href="/register"><div class="overlap-group-2"><div class="sign-up josefinsans-bold-black-25px">SIGN UP</div></div></a>
                <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
