<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1538, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="updated/img/comprichlogosmall.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <title>Comprich | Rec Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="updated/css/interest-quiz-intro.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/interest-quiz-questions.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="updated/css/globals.css" />
    <link rel="stylesheet" href="/stylesheets/quiz.css" />

  </head>
  <%- include('partials/flash') %>

  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="interest-quiz-intro" />
    <div class="container-center-horizontal">
      <div class="interest-quiz-intro screen">
        <div class="overlap-group3">
          <div class="overlap-group1">
            <div class="flex-row">
              <img class="logo-1" src="updated/img/logo-1@2x.png" />
              <div class="overlap-group"><div class="get-started josefinsans-bold-black-30px">GET STARTED</div></div>
            </div>
            <img class="vector-10" src="updated/img/vector-10@1x.svg" />
            <div class="group-container">
              <div class="group-17">
                <div class="follow-us josefinsans-semi-bold-white-40px">Follow Us</div>
                <img class="socials" src="updated/img/socials@2x.svg" />
              </div>
              <div class="group-18">
                <div class="site josefinsans-semi-bold-white-40px">Site</div>
                <div class="home-about-contact josefinsans-normal-white-30px">Home<br />About<br />Contact</div>
              </div>
              <div class="group-20">
                <div class="services josefinsans-semi-bold-white-40px">Services</div>
                <div class="hub-blog josefinsans-normal-white-30px">Hub<br />Blog</div>
              </div>
              <div class="group-19">
                <div class="company josefinsans-semi-bold-white-40px">Company</div>
                <div class="our-team-join-us-partnerships josefinsans-normal-white-30px">
                  Our Team<br />Join Us<br />Partnerships
                </div>
              </div>
            </div>
            <div class="x2021-comprich-ma josefinsans-normal-white-28px">
              © 2021 Comprich | Made with 💛 by students
            </div>
          </div>
          <img class="blob" src="updated/img/blob@1x.svg" />
          <div class="interest-quiz josefinsans-semi-bold-black-80px" id="title1">Interest Quiz</div>
          <div class="tell-us-more-about-y" id="title2">Tell us more about yourself and we’ll recommend you competitions!</div>
          <img id="img1" class="saly-22" src="updated/img/saly-22@2x.png" />
          <button id="startButton" style="cursor: pointer;"><div class="overlap-group2"><div class="start-quiz josefinsans-bold-black-30px">START QUIZ</div></div></button>
          <!-- <div id="quiz" style="display: none; width: auto; height: 58%;align-items: center; margin-top: 3%;">
            <div id="question"></div>
            <div id="choices">
              <div class="choice" id="A" onclick="checkAnswer(''), addA()"></div>
              <div class="choice" id="B" onclick="checkAnswer(''), addB()"></div>
            </div>
            <div id="progress"></div>
          </div>
          <div id="scoreContainer" style="display: none"></div> -->

          <!-- NEW STUFF -->
          <div id="quiz" style="display: none; width: auto; height: 58%;align-items: center; margin-top: 3%;">
            
            <div class="overlap-group10 josefinsans-normal-black-30px">
              <div id="question"></div>
            </div>

            <div class="overlap-group8 border-3-5px-black">
              <div class="false josefinsans-normal-black-30px choice" id="A" onclick="checkAnswer(''), addA()" style="margin-top: -5px; border: none;"></div>
            </div>
            <div class="overlap-group9 border-3-5px-black">
              <div class="place josefinsans-normal-black-30px choice" id="B" onclick="checkAnswer(''), addB()"  style="margin-top: -10px; border: none;"></div>
            </div>
            <div class="i-get-frustrated-ver josefinsans-normal-black-45px question">
            </div>
          </div>

          <img class="saly-22-1" src="updated/img/saly-22-1@2x.png" />
          <img class="saly-22-copy-1" src="updated/img/saly-22-copy-1@2x.png" />
          <div id="progress">
            <!-- <div class="ellipse-6"></div>
            <div class="ellipse"></div>
            <div class="ellipse"></div>
            <div class="ellipse-1 border-3-5px-black"></div>
            <div class="ellipse-1 border-3-5px-black"></div>
            <div class="ellipse-1 border-3-5px-black"></div>
            <div class="ellipse-1 border-3-5px-black"></div>
            <div class="ellipse-1 border-3-5px-black"></div> -->
          </div>
          
          <div class=" josefinsans-normal-black-30px" id="scoreContainer" style="display: none"></div>
          <form action="/save-survey" method="POST">
              <input id="resultsInput" name="survey_result" type="text" style="display: none">

            <button id="saveButton" style="cursor: pointer;"><div style="top: 300px" class="overlap-group2"><div class="start-quiz josefinsans-bold-black-30px">Save Results</div></div></button>
          </form>

          <div class="header">
            <img class="logo-5" src="updated/img/logo-5@2x.png" />
            <div class="group-8 josefinsans-bold-black-25px">
              <a href="/hub"><div class="about-us">HUB</div></a>
              <a href="/about"><div class="hub">ABOUT US</div></a>
              <% if(currentUser){ %>
                <a href="/logout"><div class="our-blog">LOGOUT</div></a>
                <a href="/my-profile"><div class="overlap-group-1"><div class="sign-up josefinsans-bold-black-25px">PROFILE</div></div></a>
              <% } else { %>
                <a href="/login"><div class="our-blog">LOGIN</div></a>
                <a href="/register"><div class="overlap-group-1"><div class="sign-up josefinsans-bold-black-25px">SIGN UP</div></div></a>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script type="module" src="/js/mainML.js"></script> -->
    <script src="/js/quiz.js"></script>
  </body>
</html>
