<%- include('../../partials/static-header.ejs') %>

<div class="container">
    <h2 class="display-5 mb-4">The Relation Between Competition and Innovation</h2>
    <p class="lead"> by Nandini Agarwal</p>
    <hr>

    <img class="mb-5" src="https://mail.google.com/mail/u/0?ui=2&ik=d399b5491c&attid=0.1&permmsgid=msg-f:1694303594492246604&th=178360247360ba4c&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-S2ALHVVojg9z352KCkOSNa4f51kCieQitp5WXzB4WlSM9uq4Utx4OdhapR2HOcsmFSMdZM8YZD68r0-e51UZfB3OuXnMgbiEYtU97JnaWYeIEG25qGbUiJEE&disp=emb" alt="">
    <p class="lead mb-3" style="font-weight: 400">The question we have before us is- How does competition birth innovation?</p>
    <p class="lead" style="font-weight: 400">The Merriam-Webster dictionary defines ‘innovation’ as, the introduction of a new idea,method, or product.</p>
    <p class="lead mb-3" style="font-weight: 400">In-order to provoke discovery, one requires an incentive. Competition is the key driver of
        innovation; it motivates its participants to adopt efficient ways and provide a new and improved output.</p>
    <p class="lead mb-3" style="font-weight: 400">The internet describes Innovation Competition to be a form of social engineering, which
        focuses to the creation and elaboration of the best and sustainable ideas, coming from the best innovators.</p>
    <p class="lead mb-3" style="font-weight: 400">In-order to be executed successfully, innovation requires dedication, persistence, and a
        potential reward. Competition provides all this and more, it strives to bring the best out of its
        partakers. In-fact, competition exists so that it can deliver or at least cause innovation.</p>
    <p class="lead mb-3" style="font-weight: 400">A mainstream example of such an example easily is the numerous business competitions
        held around you- whether that might be regional, national, or international!</p>
    <p class="lead mb-3" style="font-weight: 400">But fear not! If you do not consider yourself business minded- other competitions such as
        those relating to public speaking, seek to innovate future political, managerial, etc. leaders
        (You can also enrol yourself for such competitions on Comprich’s website with their varietal
        
        opportunities!)</p>
    <p class="lead mb-3" style="font-weight: 400">Such types of competition experiences also help you better prepare for the industrial
        competitive market in the real world- it prepares you on how to thrive, and not just survive.</p>
    <p class="lead mb-3" style="font-weight: 400">Competition incentives you with inspiration to create something new or even better
        something already existing!</p>
    <p class="lead mb-3" style="font-weight:400">This article wishes to highlight that no matter which type of competition you enrol in, there is
        always room for innovation. It is the way you choose to approach this hidden opportunity that
        
        matters.</p>

</div>

<%- include('../../partials/footer.ejs') %>