<%- include('../../partials/static-header.ejs') %>

<div class="container">
    <h2 class="display-5 mb-4">Accepting Failure</h2>
    <p class="lead"> by Nandini Agarwal</p>
    <hr>

    <img style="width:100%" class="mb-5" src="/img/Illo-Failure-848701b.png" alt="">
    <p class="lead mb-4" style=""><i>“Success is not final. failure is not fatal; it is the courage to continue that counts.”<br> - Winston Churchill</i></p>
    <p class="lead mb-3" style="font-weight:400">Competition exists so that all the parties participating perform <strong>well and better</strong> rather
        than conquer. It lives to teach life lessons such as the importance of tenacity, resilience, and forthwith thinking.</p>
    <p class="lead mb-3" style="font-weight:400">Society says that a competitive atmosphere only results in either victory or failure. It
        presents to the participants only a black or white way of thinking and fails to reiterate the importance of the grey.</p>
    <p class="lead mb-3" style="font-weight:400">We need to embrace an accepting attitude towards failure, and we start that by re-
        defining it. Failure can essentially be turned into success only if you choose to let the
        experience impact you appropriately and beneficially.</p>
    <p class="lead mb-3" style="font-weight:400">Struggle, failure and adversity are all our teachers. <br>Rather than dwelling in sadness, choose to turn the experience towards your
        advantage.</p>
    <p class="lead mb-3" style="font-weight:400">Adopt the ideology that failure in competition teaches and betters your <strong>WAY and HOW</strong> of thinking.</p>
    <p class="lead mb-3" style="font-weight:400">The way we at Comprich see it- failure is an open door to competitive advantage.
        The road to defaulting allows you to know, essentially, what works and what does
        not. Errors provide you another chance to improve your strategy.</p>
    <p class="lead mb-3" style="font-weight:400">Choose to highlight the lessons learned from failure and act on them. After all,
        genuine competition exists for better performance and not the best.</p>
    <p class="lead mb-3" style="font-weight:400"></p>
    <p class="lead mb-3" style="font-weight:400"></p>
    <p class="lead mb-3" style="font-weight:400"></p>


</div>

<%- include('../../partials/footer.ejs') %>